{% extends "base.html" %}
{% block title %}Статистика{% endblock %}
{% block content %}
<div class="glass">
    <h4>📊 СТАТИСТИКА</h4>
    <p>Здесь можно вывести таблицы с агрегированными данными: количество заявок по дням, суммы выплат, топ пользователей и т.д.</p>
    <div class="table-responsive">
        <table>
            <thead><tr><th>Дата</th><th>Заявок</th><th>Выплачено</th></tr></thead>
            <tbody>
                {% for stat in daily_stats %}
                <tr><td>{{ stat.date }}</td><td>{{ stat.total_qr }}</td><td>${{ stat.total_earned }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}