{% extends "base.html" %}

{% block content %}

<div class="card">
    <input id="ticketText" placeholder="Напиши проблему...">
    <button onclick="createTicket()">Отправить</button>
</div>

<script>
async function createTicket(){
    let text = document.getElementById('ticketText').value;
    await fetch('/tickets',{
        method:'POST',
        headers:{'Content-Type':'application/json'},
        body: JSON.stringify({text})
    });
    showToast("Тикет создан");
}
</script>

{% endblock %}